.home {
    background-image: url("./img/top.jpg");
  
  height:100vh;
  background-size:200%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.homecatch{
  background: rgba(255, 255, 255, 0.6);
  height:100%;
  width:50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}


.home h1{
    color:#343A40;
    font-size: 7em;
    background-color: rgba(255, 255, 255, 0.6);
    animation-fill-mode: both;
    padding-left: 20%;
}

.reina{
  animation: slideinR 1.5s ease 0s 1 normal;
}

.tochigi{
  animation: slideinT 1.5s ease 0s 1 normal;
}

@keyframes slideinR {
  from {
    padding-left: 100%;
    width: 300%;
  }

  to {
    padding-left: 10%;
    width: 100%;
  }
}

@keyframes slideinT {
  from {
    padding-left: 0%;
    width: -300%;
  }
  to {
    padding-left: 10%;
    width: 100%;
  }
}

.home h2 {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    padding-left:20%;
    margin-top:1em;
    animation-delay:1s;
    animation-duration: 2s;
    animation-name: emerge;
    animation-fill-mode: both;
}

@keyframes emerge{
  from{
    color: rgba(255, 255, 255, 0.6);
    opacity: 0;
  }

  to{
    color:#343A40;
  }

}


@media screen and (max-width:750px)  {
  .home{
  height:100vh;
  background-size: 350%;
  }

  .home h1 {
    font-size: 3em;
  }

  .home h2 {
    font-size:1.2em;
    padding-left:10%;
  }
}